.arror-page {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}


.arror-page__title {
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
}